In [2]:
print("hello world")

hello world

In [3]:
school = "handelsakademin"
school

'handelsakademin'

In [4]:
len(school)

15

In [5]:
type(school)

str

In [9]:
#indexing
#komma ger en tuple
school[0] ,school[-1]

('h', 'n')

In [12]:
#slicing
school[0:7], school[3:7]

('handels', 'dels')

In [16]:
#reverse list
school[::-1]

'nimedakaslednah'

Plusoperatorn är polymorpisk och är operator overloaded

In [17]:
#concatination
"NBI-" + school

'NBI-handelsakademin'

## List

In [18]:
cool_list = ["fruit", 89, False, [1,2,3]]
cool_list

['fruit', 89, False, [1, 2, 3]]

In [19]:
cool_list + [True, True, False]

['fruit', 89, False, [1, 2, 3], True, True, False]

In [22]:
cool_list.append([False,False,True])
cool_list

['fruit', 89, False, [1, 2, 3], [False, False, True]]

## loops

In [26]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [27]:
x = []
for i in range(10):
    x.append(i)
    
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
#list comprehension. Gör en loop inne i listan.
x = [i for i in range(20)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [32]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
# lägga till en if-sats i list comprehension
[i for i in range(20) if i%2]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [34]:
x[5] = "afasf"
x

[0, 1, 2, 3, 4, 'afasf', 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [35]:
min_tuple = (2,4,6)

In [37]:
min_tuple[1]

4

In [38]:
# Tuple är immutable, listor är mutable
min_tuple[1] = 23

TypeError: 'tuple' object does not support item assignment

## Sets

In [40]:
# Set av en lista som tar ut alla unika värden, ingen ordning i sets
set([6,6,2,3,1])

{1, 2, 3, 6}

## dict

In [41]:
person = {"name": "bert", "age": 23, "income": 23000}
person

{'name': 'bert', 'age': 23, 'income': 23000}

In [43]:
person["name"], person["income"]

('bert', 23000)

In [50]:
print(f"personens namn är {person['name']}, Han är {person['age']} år gammal och tjänar {person['income']} kronor i månaden ")

personens namn är bert, Han är 23 år gammal och tjänar 23000 kronor i månaden

In [51]:
for key in person:
    print(key)

name
age
income

In [54]:
for key in person:
    print(person[key])

bert
23
23000

In [57]:
for key, value in person.items():
    print(f"{key:<15} {value}")

name            bert
age             23
income          23000

## Funktioner

In [58]:
def squarer (number):
    return number**2

In [62]:
squarer(5)

25

In [64]:
tuple(squarer(i) for i in range(10))

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [65]:
#variable amount of parameters *numbers blir en tuple
def my_avarage (*numbers):
    sum_ = 0
    print(numbers)

In [66]:
my_avarage(1,2,3)

(1, 2, 3)

In [67]:
def my_avarage (*numbers):
    sum_ = 0
    for number in numbers:
        sum_ += number
    return sum_/len(numbers)

my_avarage(1,2,3)

2.0

In [68]:
x[5] = 5
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [69]:
my_avarage(*x) # Tuple unpacka en lista i en funktion

9.5